@import "variables";

.page, .page-header, .page-nav, .columns {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}

.page {
  flex-direction: column;
  min-height: 100vh;
  background-color: darken($color-landingpage, $darker);
}

.inpage-header, .inpage-nav {
  background-color: $color-landingpage;
}

.page-header, .wrapper, .page-footer {
  margin: 0 auto 0;
  width: 90vw;
}

@include media-query($on-palm) {
  .page-header, .wrapper, .page-footer {
    width: 80vw;
  }
}

@include media-query($on-laptop) {
  .page-header, .wrapper, .page-footer {
    width: 80vw;
  }
}

@include media-query($on-desktop) {
  .page-header, .wrapper, .page-footer {
    width: 80vw;
  }
}

.page-content {
  background-color: #fff;
  flex: 1 0 auto;
  padding-bottom: $spacing;
}

.page-header {
  min-height: 100px;
  height: 12vh; /* size is based on the height of the device */
  align-items: center;
}

.page-header, .inpage-header {
  color: $color-white;

  a {
    color: $color-light;

    &:hover, &:focus {
      color: $color-white;
    }
  }

  p a {
    text-decoration: underline;
  }
}

.page-explainer, .page-footer {
  a {
    color: $color-white;

    &:hover, &:focus {
      color: $color-white;
    }
  }

  p a {
    text-decoration: underline;
  }
}

.page-header {
  .page-nav {
    flex: 2;
    text-align: right;
    display: block;

    ul li + li {
      margin-left: $spacing;
    }
  }
}

.inpage-header {
  .message {
    width: 100%;

    @include media-query($on-desktop) {
      & {
        width: 100%;
      }
    }

    p {
      font-size: 1.1rem;
    }
  }
}

.legendProgress {
  height: 7rem;

  svg {
    width: 100%;
  }
}

.intro-container {
  background: linear-gradient(0deg, transparent 50%, $color-landingpage 50%);
}

.page-footer, .page-explainer {
  font-size: 0.9em;
  padding: 3rem 0;
  color: $color-white;
}

.page-container {
  & > * {
    padding: $spacing 0 $spacing / 2 0;
  }

  & > .inpage-nav, & > .content {
    padding: 1 0 0 0;
  }

  .content .wrapper {
    margin-top: $spacing;
    margin-bottom: $spacing / 2;
  }
}

.columns {
  flex-flow: column;
}

@include media-query($on-desktop) {
  .columns {
    flex-direction: row;
  }

  .column, .columns > * {
    flex: 1;
  }

  .columns-gutter > * {
    margin-left: $spacing / 2;
    margin-right: $spacing / 2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .columns-rows > * {
    padding: $spacing / 3 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.content {
  padding: 0;

  section {
    padding: $spacing / 2 0;
  }

  .section-wrapper {
    display: flex;
    align-items: center;

    .section-text {
      flex: 1;
    }

    .section-img {
      flex: 1;
      text-align: center;
    }
  }
}

.box {
  background-color: #fff;
  border: 1px solid #F1F2F4;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24);

  td {
    line-height: 1.3rem;
  }
}
