@import
  "variables"
;

$width-desktop: 60vw;

.page, .page-header, .page-nav , .page-footer, .columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.page {
  flex-direction: column;
  min-height: 100vh;
}

.page, .inpage-header, .inpage-nav {
  background-color: $color-okf;
}

.page-header, .wrapper, .page-footer {
  margin: 0 15vw 0;
  width: 70vw;
}

.page-content {
  background-color: #f9f9f9;
  flex: 1;
  padding-bottom: $spacing * 2;
}

.page-header {
  min-height: 100px;
  height: 12vh; /* size is based on the height of the device */
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: $spacing / 2;
}

.page-header, .page-explainer, .page-footer, .inpage-header {
  color: #fff;

  a {
    color: #fff;
  }
}

.page-header {
  .page-nav {
    flex: 2;
    text-align: right;
    display: block;

    ul li + li {
      margin-left: $spacing;
    }
  }
}

.page-footer, .page-explainer {
  font-size: 0.85em;
  padding: 3rem 0;
}

.page-container {
  & > * {
    padding: $spacing 0;
  }

  & > .inpage-nav, & > .content {
    padding: 0;
  }

  .content .wrapper {
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}

.column, .columns > * {
  flex: 1;
}

.columns-gutter > * {
  margin-left: $spacing / 2;
  margin-right: $spacing / 2;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.columns-rows > * {
  padding: $spacing 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.content {
  padding: 0;

  section {
    padding: $spacing 0;
  }

  .section-wrapper {
    display: flex;
    align-items: center;

    .section-text {
      flex: 1;
    }

    .section-img {
      flex: 1;
      text-align: center;
    }
  }
}

.box {
  background-color: #fff;
  border: 1px solid #F1F2F4;
  border-radius: 8px;
  padding: 3rem;
  box-shadow: 5px 5px 20px 0px rgba(116, 116, 116, 0.25);
}