.page {
  &.armut {
    background-color: darken(#eb1c2d, $darker);

    h2 {
      color: #eb1c2d;
    }

    .inpage-header, .inpage-nav {
      background-color: #eb1c2d;
    }
  }

  &.ernaehrung {
    background-color: darken(#d3a029, $darker);

    h2 {
      color: #d3a029;
    }

    .inpage-header, .inpage-nav {
      background-color: #d3a029;
    }
  }

  &.leben {
    background-color: darken(#279b48, $darker);

    h2 {
      color: #279b48;
    }

    .inpage-header, .inpage-nav {
      background-color: #279b48;
    }
  }

  &.bildung {
    background-color: darken(#c31f33, $darker);

    h2 {
      color: #c31f33;
    }

    .inpage-header, .inpage-nav {
      background-color: #c31f33;
    }
  }

  &.gleichstellung {
    background-color: darken(#ef402b, $darker);


    h2 {
      color: #ef402b;
    }

    .inpage-header, .inpage-nav {
      background-color: #ef402b;
    }
  }

  &.wasser {
    background-color: darken(#00aed9, $darker);

    h2 {
      color: #00aed9;
    }

    .inpage-header, .inpage-nav {
      background-color: #00aed9;
    }
  }

  &.energie {
    background-color: darken(#fdb713, $darker);

    h2 {
      color: #fdb713;
    }

    .inpage-header, .inpage-nav {
      background-color: #fdb713;
    }
  }

  &.wirtschaft {
    background-color: darken(#8f1838, $darker);

    h2 {
      color: #8f1838;
    }

    .inpage-header, .inpage-nav {
      background-color: #8f1838;
    }
  }

  &.infrastruktur {
    background-color: darken(#f36d25, $darker);

    h2 {
      color: #f36d25;
    }

    .inpage-header, .inpage-nav {
      background-color: #f36d25;
    }
  }

  &.ungleichheit {
    background-color: darken(#e11484, $darker);

    h2 {
      color: #e11484;
    }

    .inpage-header, .inpage-nav {
      background-color: #e11484;
    }
  }

  &.staedte {
    background-color: darken(#f99d26, $darker);

    h2 {
      color: #f99d26;
    }

    .inpage-header, .inpage-nav {
      background-color: #f99d26;
    }
  }

  &.konsum {
    background-color: darken(#cf8d2a, $darker);

    h2 {
      color: #cf8d2a;
    }

    .inpage-header, .inpage-nav {
      background-color: #cf8d2a;
    }
  }

  &.klimawandel {
    background-color: darken(#48773e, $darker);

    h2 {
      color: #48773e;
    }

    .inpage-header, .inpage-nav {
      background-color: #48773e;
    }
  }

  &.ozeane {
    background-color: darken(#007dbc, $darker);

    h2 {
      color: #007dbc;
    }

    .inpage-header, .inpage-nav {
      background-color: #007dbc;
    }
  }

  &.landoekosysteme {
    background-color: darken(#3eb049, $darker);

    h2 {
      color: #3eb049;
    }

    .inpage-header, .inpage-nav {
      background-color: #3eb049;
    }
  }

  &.frieden {
    background-color: darken(#02558b, $darker);

    h2 {
      color: #02558b;
    }

    .inpage-header, .inpage-nav {
      background-color: #02558b;
    }
  }

  &.partnerschaft {
    background-color: darken(#183668, $darker);

    h2 {
      color: #183668;
    }

    .inpage-header, .inpage-nav {
      background-color: #183668;
    }
  }
}
