.page {
  &.armut {
    background-color: #e5243b;

    h2, h3, h5 {
      color: #e5243b;
    }

    .inpage-header, .inpage-nav {
      background-color: #e5243b;
    }
  }

  &.ernaehrung {
    background-color: #e5b735;

    h2, h3, h5 {
      color: #e5b735;
    }

    .inpage-header, .inpage-nav {
      background-color: #e5b735;
    }
  }

  &.leben {
    background-color: #4c9f38;

    h2, h3, h5 {
      color: #4c9f38;
    }

    .inpage-header, .inpage-nav {
      background-color: #4c9f38;
    }
  }

  &.bildung {
    background-color: #c5192d;

    h2, h3, h5 {
      color: #c5192d;
    }

    .inpage-header, .inpage-nav {
      background-color: #c5192d;
    }
  }

  &.gleichstellung {
    background-color: #ff3a21;

    h2, h3, h5 {
      color: #ff3a21;
    }

    .inpage-header, .inpage-nav {
      background-color: #ff3a21;
    }
  }

  &.wasser {
    background-color: #26bde2;

    h2, h3, h5 {
      color: #26bde2;
    }

    .inpage-header, .inpage-nav {
      background-color: #26bde2;
    }
  }

  &.energie {
    background-color: #fcc30b;

    h2, h3, h5 {
      color: #fcc30b;
    }

    .inpage-header, .inpage-nav {
      background-color: #fcc30b;
    }
  }

  &.wirtschaft {
    background-color: #a21942;

    h2, h3, h5 {
      color: #a21942;
    }

    .inpage-header, .inpage-nav {
      background-color: #a21942;
    }
  }

  &.infrastruktur {
    background-color: #fd6925;

    h2, h3, h5 {
      color: #fd6925;
    }

    .inpage-header, .inpage-nav {
      background-color: #fd6925;
    }
  }

  &.ungleichheit {
    background-color: #dd1367;

    h2, h3, h5 {
      color: #dd1367;
    }

    .inpage-header, .inpage-nav {
      background-color: #dd1367;
    }
  }

  &.staedte {
    background-color: #fd9d24;

    h2, h3, h5 {
      color: #fd9d24;
    }

    .inpage-header, .inpage-nav {
      background-color: #fd9d24;
    }
  }

  &.konsum {
    background-color: #c9992d;

    h2, h3, h5 {
      color: #c9992d;
    }

    .inpage-header, .inpage-nav {
      background-color: #c9992d;
    }
  }

  &.klimawandel {
    background-color: #3f7e44;

    h2, h3, h5 {
      color: #3f7e44;
    }

    .inpage-header, .inpage-nav {
      background-color: #3f7e44;
    }
  }

  &.ozeane {
    background-color: #0a97d9;

    h2, h3, h5 {
      color: #0a97d9;
    }

    .inpage-header, .inpage-nav {
      background-color: #0a97d9;
    }
  }

  &.landoekosysteme {
    background-color: #56c02b;

    h2, h3, h5 {
      color: #56c02b;
    }

    .inpage-header, .inpage-nav {
      background-color: #56c02b;
    }
  }

  &.frieden {
    background-color: #00689d;

    h2, h3, h5 {
      color: #00689d;
    }

    .inpage-header, .inpage-nav {
      background-color: #00689d;
    }
  }

  &.partnerschaft {
    background-color: #19486a;

    h2, h3, h5 {
      color: #19486a;
    }

    .inpage-header, .inpage-nav {
      background-color: #19486a;
    }
  }
}
