h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: $color-accent;
  margin-bottom: $spacing / 2;
}

h3 {
  font-size: 1.4rem;
  letter-spacing: 0.01em;
  color: $color-accent;
}

table {
  thead {
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
  }

  tbody {
    font-size: 0.85rem;
  }
}

.btn {
  color: #fff;
  border: 1px solid #5C9E31;
  border-radius: 2px;
  padding: $spacing / 4 $spacing / 2;
  background-color: #B1CC33;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #5C9E31;
    color: #fff;
  }

  &.disabled {
    cursor: default;
    background-color: #D0CFCE;
    border-color: #9B9B9A;
  }
}