.page-footer, .page-header, .page-explainer, .inpage-header, .inpage-nav {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.dns {
  color: $color-dns;
}

.okf {
  color: $color-okf;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: $color-accent;
  margin-bottom: $spacing;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  color: $color-accent;
}

h1, h2, h3 {
  max-width: 1000px;
}

p + p {
  margin-top: 1em;
}

p {
  font-size: 0.9rem;
  max-width: 800px;

  .dns {
    color: $color-dns;
    font-weight: bold;
  }

  .okf {
    color: $color-okf;
    font-weight: bold;
  }
}

ul.list {
  li {
    padding: 0.2em 1em 0.2em 1.6em;
    list-style-position: inside;
    text-indent: -1.6em;
    line-height: 1.5em;

    &:before {
      content: "— ";
      color: $color-accent;
      margin-right: 0.3em;
    }
  }
}

small + p {
  margin-bottom: $spacing / 2;
}

.caption, th {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  opacity: 0.8;
}

.label {
  font-size: 0.8rem;
}

table {
  thead {
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    text-align: left;
  }

  tbody {
    font-size: 0.8rem;
  }
}

.inpage-nav {
  a {
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .bread-current {
    color: rgba(255, 255, 255, 1);
  }

  .bread-spacer {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 0.25em;
  }
}

.page-header {
  .logo {
    font-size: 2rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .page-nav {
    li a {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      font-size: 0.9rem;
      padding: 0 0.2rem 0.2rem;

      &:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }

      &.nuxt-link-exact-active {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.btn {
  border-radius: 2px;
  padding: $spacing / 3 $spacing / 1.5 !important;
  background-color: #FCEA2B;
  color: #222 !important;
  font-weight: bold;
  cursor: pointer;
  text-shadow: none;
  transition-duration: 0.2s;
  border: none !important;

  &:hover, &:focus {
    // background-color: #5C9E31;
    color: #000 !important;
    transform: scale(1.03);
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, .14);
    // color: #fff !important;
    // background-color: darken(#FCEA2B, 7%);
    // border-color: #fff;
  }

  &.disabled {
    cursor: default;
    background-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .2) !important;
    transform: none;
  }
}

@font-face {
  font-family: '2030watch';
  src: url('/font/2030watch.eot?76314359');
  src: url('/font/2030watch.eot?76314359#iefix') format('embedded-opentype'),
       url('/font/2030watch.woff2?76314359') format('woff2'),
       url('/font/2030watch.woff?76314359') format('woff'),
       url('/font/2030watch.ttf?76314359') format('truetype'),
       url('/font/2030watch.svg?76314359#2030watch') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "2030watch";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-ok-circled:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e805'; } /* '' */
.icon-minus-circled:before { content: '\e806'; } /* '' */
.icon-cog-circled:before { content: '\e807'; } /* '' */
.icon-help-circled:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
