.dns {
  color: $color-dns;
}

.okf {
  color: $color-okf;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  font-weight: bold;
  margin-bottom: $spacing / 2;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  line-height: 1.3;
}

h5 {
  font-size: 1.25rem;
  letter-spacing: 0.02em;
}

h6 {
  font-size: 1rem;
  letter-spacing: 0.02em;
}

p + p {
  margin-top: 1em;
}

p {
  font-size: 1rem;

  .dns {
    color: $color-dns;
    font-weight: bold;
  }

  .okf {
    color: $color-okf;
    font-weight: bold;
  }
}

ul.list {
  li {
    padding: 0.2em 1em 0.2em 1.6em;
    list-style-position: inside;
    text-indent: -1.6em;
    line-height: 1.5em;

    &:before {
      content: "— ";
      color: $color-okf;
      margin-right: 0.3em;
    }
  }
}

small + p {
  margin-bottom: $spacing / 2;
}

.caption, th {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.label {
  font-size: 0.9rem;
}

table {
  thead {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    text-align: left;
  }

  tbody {
    font-size: 0.9rem;
  }
}

.inpage-nav {
  a {
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .bread-current {
    color: rgba(255, 255, 255, 1);
  }

  .bread-spacer {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 0.25em;
  }
}

.page-header {
  .logo {
    font-size: 2rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .page-nav {
    li a {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      font-size: 1rem;
      padding: 0 0.2rem 0.2rem;

      &:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }

      &.nuxt-link-exact-active {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.btn {
  border-radius: 2px;
  padding: $spacing / 4 $spacing / 2 !important;
  cursor: pointer;
  text-shadow: none;
  border: none !important;
  display: inline-block;

  &:hover, &:focus {
    color: #000 !important;
  }

  &.disabled {
    cursor: default;
    background-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .2) !important;
    transform: none;
  }

  &.btn-download {
    background-color: $color-accent;
    color: #fff !important;
  }

  &.btn-default {
    background-color: #898989;
  }
}

@font-face {
  font-family: '2030watch';
  src: url('~static/font/2030watch.eot?23783043');
  src: url('~static/font/2030watch.eot?23783043#iefix') format('embedded-opentype'),
       url('~static/font/2030watch.woff2?23783043') format('woff2'),
       url('~static/font/2030watch.woff?23783043') format('woff'),
       url('~static/font/2030watch.ttf?23783043') format('truetype'),
       url('~static/font/2030watch.svg?23783043#2030watch') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "2030watch";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-ok-circled:before { content: '\e806'; } /* '' */
.icon-ok-circled2:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-cancel-circled2:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-down-circled2:before { content: '\e80c'; } /* '' */
.icon-up-big:before { content: '\e80d'; } /* '' */
.icon-link-1:before { content: '\e80e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
