$font-family-default: 'Chivo', "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
$font-family-modern: 'Roboto Mono', 'Lucida Console', Monaco, monospace;
$font-weight: 400 !default;
$font-weight-bold: 700 !default;
$base-line-height: 1.7 !default;

$spacing:     2rem !default;

$color-default:     #222 !default;
$color-accent:      #04A6F0 !default;
$color-mute:        #a5a49f !default;
$color-light:       #f2f2f2 !default;

$color-border-mute:        rgba(0, 0, 0, .2) !default;

$color-dns:       #F1B31C;
$color-okf:       #04A6F0;
$color-okf-alt:   #3ef5c9;