.vis-wrapper {
  text-align: center;
}

.vis-star {

  .hover {
    text a {
      fill: #eee !important;
    }

    &.active {
      text a {
        fill: #222 !important;
      }

      .value {
        display: inline;
      }
    }
  }

  .value {
    fill: rgb(80, 80, 80);
    font-size: 0.8em;
    display: none;
  }

  .click {
    fill: rgba(0, 0, 0, 0.001);
  }

  line {
    &.axis-total {
      stroke-width: 1px;
      stroke: rgba(0, 0, 0, .2);
    }

    &.axis-diff {
      stroke-width: 1px;
      stroke: rgba(0, 0, 0, 1);
    }
  }

  circle {
    &.tick {
      fill: none;
      stroke-width: 1px;
      stroke: rgba(0, 0, 0, .1);
    }

    &.hover {
      fill: none;
      stroke-width: 1px;
      stroke: rgba(0, 0, 0, 0.8);
    }

    &.marker-text {
      fill: none;
    }

    &.marker-dns {
      fill: $color-dns;
    }

    &.marker-okf {
      fill: $color-okf;
    }
  }
}
